{% extends 'base.html' %}
{% block content %}


<main>
    <div id="content">
        <h1>My Plants</h1>

        <a href="/create" class="nav">+ New Plant</a>

        {#
            TODO: All of the following cards are what we'd refer to as
            "hard-coded". That is, their values do not actually come from the 
            database! Refactor this page to use a 'for' loop to display all
            plants with the data passed from the route function's context.

            HINT: Use the plant's _id field as the id for constructing URLs.
        #}

        <div id="items">
            <div class="card">
                <a href="/plant/1"><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/tomatoes_helios4eos_gettyimages-edit.jpeg?itok=4KrW14a4"></a>
                <div class="card-content">
                    <a href="/plant/1">Tomato</a>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock content %}